.container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(3,200px) 50px 50px;
    gap: 20px;

}

.box{
    background-color:lightblue;
}

#item1{
grid-row: span 5;
}
#item11,#item12{
    grid-column: span 3;
}