.container{
    display: flex;
    gap: 20px;
}

.container2{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.box{
    background-color: tomato;
    padding: 20px;
    border-radius: 20px;
}

.item{
    width: 200px;
    height: 100px;
    background-color: tomato;
    border: 2px solid aliceblue;
}

@media screen and (max-width:576px) {
    .container{
        flex-direction: column;
    }
}